:root {
  --jp-icon-explosionai: url('./icon.png');
  --jp-icon-docs: url('./docs.svg');
}

.jp-prodigyWidget iframe {
  height: 100%;
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
}

.jp-prodigyIcon {
  background-image: var(--jp-icon-explosionai);
  background-size: contain;
}

.jp-docsIcon {
  background-image: var(--jp-icon-docs);
  background-size: contain;
}
